@font-face {
  font-family: "Dangerous";
  src: url(./assets/fonts/Mister\ Dangerous.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  letter-spacing: -1px;
}

body {
  line-height: 1.6;
  color: #333;
}

header {
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.7rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
  color: #4a442d;
  font-family: "Dangerous";
}

.nav-links {
  display: flex;
}

.nav-links a {
  text-decoration: none;
  color: #2c3e50;
  margin-left: 1.5rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #3498db;
}

.hero {
  background: linear-gradient(120deg, #e6e2c9, #a69875);
  color: white;
  text-align: center;
  padding: 5em 2rem;
  margin-top: 40px;
}

.hero img {
  width: 10em;
}

.hero h1 {
  font-size: 2.5rem;
  font-family: "Dangerous";
}

.hero p {
  font-size: 1rem;
  max-width: 90%;
  margin: 0 auto;
}

.features {
  max-width: 1200px;
  margin: 3rem auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}

.feature-card {
  background: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.feature-card p {
  color: #999999;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-card h3 {
  font-family: "Poppins";
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: -2px;
}

.participate {
  padding: 3rem 10%;
  background: linear-gradient(120deg, #e6e2c9, #a69875);
  text-align: center;
  color: white;
}

.participate h2 {
  font-family: "Poppins";
  font-size: 2em;
  font-weight: bold;
  letter-spacing: -2px;
}

.participate button {
  background-color: white;
  color: #a69875;
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
}

.participate button:hover {
  background-color: #a6a17d;
  color: white;
}

.events {
  padding: 2rem 5%;
  background-color: #fff;
}

.events h2 {
  font-family: "Poppins";
  font-size: 1.5em;
  font-weight: bold;
  color: #999999;
  margin-bottom: 10px;
}

.event-card {
  background: linear-gradient(120deg, #e6e2c9, #a69875);
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: white;
}

.event-card h4 {
  font-size: large;
  font-weight: bold;
}

.social-media {
  padding: 2rem 5%;
  background: linear-gradient(120deg, #e6e2c9, #a69875);
  text-align: center;
  color: white;
}

.social-media h2 {
  font-family: "Poppins";
  font-size: 2em;
  font-weight: bold;
  letter-spacing: -2px;
}

.social-media a {
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1rem;
  color: white;
}

footer {
  background-color: #000000;
  text-align: center;
  color: white;
  padding: 2rem;
}

footer img {
  width: 6em;
}

footer p {
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

footer a {
  color: white;
  font-family: "Poppins";
  text-decoration: none;
}

footer a:hover {
  font-weight: bold;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-links a {
    margin: 0.5rem;
  }

  .hero {
    margin-top: 5em;
    padding-bottom: 3em;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 0.9rem;
  }

  .features {
    grid-template-columns: 1fr;
  }

  .feature-card {
    text-align: center;
  }

  .participate {
    padding: 2rem 5%;
  }

  .participate h2 {
    font-size: 2rem;
  }

  .events {
    padding: 2rem;
  }

  .event-card {
    padding: 1rem;
  }

  .social-media h2 {
    font-size: 2rem;
  }

  footer {
    padding: 1.5rem;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 1.8rem;
  }

  .hero {
    padding: 4em 1rem;
    padding-top: 15vh;
  }

  .hero h1 {
    font-size: 2.8rem;
  }

  .hero img {
    width: 8em;
  }

  .hero p {
    font-size: 0.85rem;
  }

  .features {
    padding: 0 1rem;
  }

  .participate {
    padding: 2rem 3%;
  }

  .events {
    padding: 1.5rem;
  }

  .social-media {
    padding: 1.5rem;
  }

  footer {
    padding: 1rem;
  }

  footer p {
    font-size: 0.8em;
  }
}
